<div class="header">

<div class="banner">
<div class="bannerLeft">
<div class="bannerTitle">Incident Management Tools</div>
<div class="subTitle">Powered by TCS</div>
</div>
</div>
<div class="nav">
<div class="topnav">
<a class="active" ,="" href="/home">Home</a>
<a href="/incident/create">Create New Incident</a>
<a href="/incident">Open Incidents</a>
<a href="/ply">PLY</a>
<a href="/has">HAS</a>
<a href="/Search">Search</a>
<input type="text" placeholder="Site Search...">
</div>
</div>
</div>