<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link href="../public/stylesheets/mainsks.css" rel="stylesheet">
    <title>Incident Management Tool</title>
    <script src="../public/javascripts/jquery-3.3.1.js"> </script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
    <script>

        $(function () {
            $("#header").load("includes/top.html");
            $("#footer").load("includes/footer.html");
            $("#leftnav").load("includes/leftnav.html");
        });

        $(function () {
            $('.editlink').on('click', function () {
                var id = $(this).data('id');
                $.ajax({
                    method: "GET",
                    url: "/fetch",
                    data: {
                        id: id
                    },
                }).done(function (data) {
                    $('#id').val(data[0]['_id']);
                    $('#firstName').val(data[0]['firstName']);
                    $('#lastName').val(data[0]['lastName']);
                    $('#eMail').val(data[0]['eMail']);
                    $('#procPath').val(data[0]['procPath']);
                    $('#bkgroundInfo').val(data[0]['bkgroundInfo']);
                    $("#subbtn").val('Edit User');
                    $('#form1').attr('action', '/edit');
                });
            });
        });

        /*   function sendRequest() {
               alert("Test");
               $.ajax({
                   method: "GET",
                   url: "/newColl",
                   data: { },
                   success: function (data) {
                       alert("x: " + data);
                       $('#userdetails').attr('action', '/userdet');
                       //window.location.href = "/userdetails.html";
                   }
               });
           };


           $(function () {
               $('.ptrnMatch').on('click', function () {
                   //var id = $(this).data('id');
                   alert("patternButton");
                   $.ajax({
                       method: "GET",
                       url: "/newColl",
                       /*  data: {
                             id: id
                         },
                   }).done(function (data) {
                       $('#userdetails').attr('action', '/userdetails');
                   });
               });
           });

           $(document).ready(function () {
               var from, to, subject, text;
               $("#sendEmail").click(function () {
                   to = $("#to").val();
                   subject = $("#subject").val();
                   text = $("#content").val();
                   $("#message").text("Sending E-mail...Please wait");
                   $.get("/send", { to: to, subject: subject, text: text }, function (data) {
                       if (data == "sent") {
                           $("#message").empty().html("Email is been sent at "+to+".Please check inbox!");
                       }

                   });
               });
           }); */
    </script>
</head>
<body>
    <div id="header"></div>
    <div>
    <table border="1">
        <tr>
            <td><div id="leftnav"></div></td>
            <td>
                <div class="mainContainer">
                    <h2>Welcome to NodeJS & MongoDB World!!</h2>
                    <div class="success"></div>
                    <div class="error"></div>

                    <form id="form1" name="form1" method="post" action="/add">
                        <input type="hidden" name="id" value="" id="id" />
                        <table border="1">
                            <tr>
                                <td>First Name</td>
                                <td><input type="text" id="firstName" name="firstName" required></td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td><input type="text" id="lastName" name="lastName" required></td>
                            </tr>
                            <tr>
                                <td>Email Id</td>
                                <td><input type="text" id="eMail" name="eMail" required></td>
                            </tr>
                            <tr>
                                <td>Procedure Path</td>
                                <td><input type="text" id="procPath" name="procPath" required></td>
                            </tr>
                            <tr>
                                <td>Background Information</td>
                                <td><input type="text" id="bkgroundInfo" name="bkgroundInfo" required></td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" id="subbtn" name="Add User" value="Add User"></td>
                            </tr>
                        </table>
                    </form>
                    <br />
                    <div class="row">
                        <div class="span12">
                            <!--div class="mini-layout">
                                <h3>Users Listing:<a href="/exporttocsv" style="margin-left: 17%;">Export to CSV</a></h3>
                            <div-->
                            <div>
                                <form id="userdet" name="userdet" action="/userdetails" method="post">
                                    <table border="0">
                                        <tr>
                                            <td><h3>Users Listing: <a href="/exporttocsv">Export to CSV</a></h3></td>
                                            <td colspan="2" width="550px"></td>
                                            <td><input type="text" id="searchText" name="searchText"></td>
                                            <td><input type="submit" id="applyMatch" value="ApplyPattern" tabindex="1"></td>
                                            <td><a href="/newColl"><input type="button" id="resultMatch" value="PatternMatch" tabindex="1"></a></td>
                                            <td colspan="2" width="550px"></td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table border="1">
                            <tbody>
                                <tr>
                                    <th> ID </th>
                                    <th> First Name </th>
                                    <th> Last Name </th>
                                    <th> Email Id </th>
                                    <th> Procedure Path </th>
                                    <th> Background Information </th>
                                    <th> Action </th>
                                </tr>
                                {% if (users.length) %}
                                {% for item in users %}
                                <tr>
                                    <td> {{item['_id']}} </td>
                                    <td> <a href=""> {{item['firstName']}} </a></td>
                                    <td> {{item['lastName']}} </td>
                                    <td> {{item['eMail']}} </td>
                                    <td> {{item['procPath']}} </td>
                                    <td> {{item['bkgroundInfo']}} </td>
                                    <td>
                                        <a id="editlink" class="editlink" href="javascript:void(0)" data-id='{{item["_id"]}}'> Edit </a>
                                        |
                                        <a href='/delete?id={{item["_id"]}}' onclick='return confirm("You are going to delete this record. Continue?")'> Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        <!--br>
                        <div id="container">
                            <div></div>
                            Email Functionality:
                            <div>
                                <input id="to" type="text" placeholder="Enter E-mail ID where you want to send" />
                                <input id="subject" type="text" placeholder="Write Subject" />
                                <textarea id="content" cols="40" rows="5" placeholder="Write what you want to send"></textarea>
                                <button id="sendEmail">Send Email</button>
                                <span id="message"></span>
                            </div>
                        </div-->
                        <div>
                            <form name="import" action="/import" method="post" encType="multipart/form-data">
                                <p>Upload Users:</p>
                                <table>
                                    <tr>
                                        <td><input type="file" name="file" accept="*.csv"></td>
                                        <td><input type="submit" value="Import" tabindex="1"></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    </div>
    <div id="footer"></div>
</body>
</html>