<!DOCTYPE html>
<html>
<head>
    <link href="../../stylesheets/mainsks.css" rel="stylesheet">
    <title>Incident Management Tool</title>
    
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
	<script>
        /*$(function () {
            $("#divContent").load("layout.html");
        });*/
        $(function () {
            $("#header").load("../includes/top.ejs");
            $("#footer").load("../includes/footer.ejs");
            $("#leftnav").load("../includes/leftnav.ejs");
        });
	</script>
</head>
<body>
    <div id="header"></div>
    <div id="leftnav"></div>

    <div class="container">

        <h1>Create New Incident</h1>
        <form action="/incident/save" method="post">
            <table>
                <tbody>
		    
		   <tr>
                        <td>Area:</td>
		 
		 	<td>
				<select id="area" name="area">
				
									
				</select>
				 <script>

					var select = document.getElementById("area"), arr = ["NEW","BIR","DUD","PLY","NIR"];

					for(var i = 0; i < arr.length; i++)
					{
						var option = document.createElement("OPTION"), txt = document.createTextNode(arr[i]);

						option.appendChild(txt);

						option.setAttribute("value",arr[i]);
						select.insertBefore(option,select.lastChild);

					}

				</script>
                    	</td>
                    </tr>
                        <td>Raised By:</td>
                        <td><input type="text" name="raisedby" /></td>
                    </tr>
                    <tr>
                        <td>Caseworker:</td>
                        <td><input type="text" name="caseworker"></td>
                    </tr>
                    <tr>
                        <td>Contact Number :</td>
                        <td><input type="text" name="contactnum" /></td>
                    </tr>
                    <tr>
                        <td>Team Leader</td>
                        <td><input type="text" name="teamleader" /></td>
                        <td>Location</td>
                       
			<td>
				<select id="location" name="location">
					
				
									
				</select>
				 <script>

					var select = document.getElementById("location"), arr = ["Newcastle","Dudley","Durham","Plymouth","Longbenton"];

					for(var i = 0; i < arr.length; i++)
					{
						var option = document.createElement("OPTION"), txt = document.createTextNode(arr[i]);

						option.appendChild(txt);

						option.setAttribute("value",arr[i]);
						select.insertBefore(option,select.lastChild);

					}

				</script>
				
			</td>
				

                    </tr>
                    <tr>
                        <td>Team </td>
                        <td><input type="text" name="team" /></td>
                        <td>Workgroup</td>
                        <td><input type="text" name="workgroup" /></td>
                    </tr>
                    <tr>
                        <td>G7 </td>
                        <td><input type="checkbox" name="g7" /></td>
                        <td>Achieved</td>
                        <td><input type="text" name="achieved" /></td>
                    </tr>
                    <tr>
                        <td>Component Area </td>
                        <td><input type="text" name="comparea" /></td>
                        <td>Sub Area</td>
                        <td><input type="text" name="subarea" /></td>
                    </tr>
                    <tr>
                        <td>Functional area Affected </td>
                        <td><input type="text" name="funareaaffected" /></td>
                        <td>SR Number</td>
                        <td><input type="text" name="srnumber" /></td>
                    </tr>
                    

                    <tr>
                        <td>SR Substatus </td>
                        <td><input type="text" name="srsubstatus" /></td>
                        <td>Case Nuber</td>
                        <td><input type="text" name="casenum" /></td>
                    </tr>

                    <tr>
                        <td>Master Case Number </td>
                        <td><input type="text" name="mastercasenum" /></td>
                        <td>PP NINO</td>
                        <td><input type="text" name="ppnino" /></td>
                        <td>PP Name</td>
                        <td><input type="text" name="ppname" /></td>
                    </tr>

                    <tr>
                        <td>RP NINO</td>
                        <td><input type="text" name="rpnino" /></td>
                        <td>RP Name</td>
                        <td><input type="text" name="rpname" /></td>
                    </tr>
                    <tr>
                        <td>RP NINO</td>
                        <td><input type="text" name="rpnino" /></td>
                        <td>RP Name</td>
                        <td><input type="text" name="rpname" /></td>
                    </tr>

                    <tr>
                        <td>BICC Rep Name</td>
                        <td><input type="text" name="biccrepname" /></td>
                        <td>BICC Ans Sub Area</td>
                        <td><input type="text" name="biccanssubarea" /></td>
                    </tr>

                    <tr>
                        <td>Report Name</td>
                        <td><input type="text" name="repname" /></td>
                        <td>Report Number</td>
                        <td><input type="text" name="reportnum" /></td>
                    </tr>

                    <tr>
                        <td>Foder Name</td>
                        <td><input type="text" name="foldername" /></td>
                        <td>Report Col Name</td>
                        <td><input type="text" name="repcolname" /></td>
                        <td>Column Item Name</td>
                        <td><input type="text" name="colitemname" /></td>
                    </tr>
                    <tr>
                        <td>SER?</td>
                        <td><input type="radio" name="ser" /></td>
                        <td>SET?</td>
                        <td><input type="radio" name="set" /></td>
                        <td>Case Progress Affected?</td>
                        <td><input type="radio" name="caseprogaffected" /></td>
                        <td>Pay Affected?</td>
                        <td><input type="radio" name="payaffected" /></td>
                        <td>Reputation risk</td>
                        <td><input type="radio" name="reprisk" /></td>
                        <td>Case Affected</td>
                        <td><input type="text" name="caseaffected" /></td>
                    </tr>
                    <tr>
                        <td>Background Information</td>
                        
			<td><textarea name="bginfo"></textarea></td>
                    </tr>
                    <tr>
                        <td>Error Message</td>
                       
			<td><textarea name="errmsg"></textarea></td>
                    </tr>
                    <tr>
                        <td>Procedural Path</td>
                       
			<td><textarea name="procpath"></textarea></td>
                    </tr>

                    <tr>
                        <td>Other Informationn</td>

			<td><textarea name="othinfo"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="20"><button type="submit">Save</button></td>
                    </tr>
                </tbody>
            </table>
	    
        </form>


	<form action="/incident/create" method="get">

		<table>

			<tr>
                	        <td colspan="20"><button type="submit">Cancel</button></td>
		        </tr>
   		</table>

	</form>

    </div>
<div id="footer" style="margin-top: 900px;"></div>
</body>
</html>